# Introduction to citybikes

## 8 things to know
1. Owner: HKL (City of Helsinki)
    <br>-HSL (Operator)</br>
    <br>-CityBike Finland (Operator)</br>
    <br>-Possibility to use external subsciption (Whim MaaS service)</br>

2. Years:
    <br>-Current system was launched in 2nd of May 2016</br>
    <br>-Previous system operated between 2000 and 2010, but people misused it</br>

3. Available in 
    <br>-Helsinki</br>
    <br>-Espoo</br>
    <br>-Vantaa (since June 2019)</br>

4. Numbers 
    <br>-over 4500 bikes (2020)</br>
    <br>-around 450 stations (2020)</br>
    <br>-Over one million rides and 48500 seasonal users (Helsinki and Espoo combined)</br>

5. Season 2020
    <br>-Was started mid March in advance due to Corona</br>
    <br>-Season ends 31th of October</br>

6. Prices
    <br>-5 euros for a day</br>
    <br>-10 euros for a week</br>
    <br>-30 euros for a season (Scatter analysis shows that this is the best deal)</br>
    <br>-Extra fees if a single trip takes over 30 minutes</br>
    <br>-From 2020 there is a possibility of an early bird subsciption (5 EUR cheaper)</br>

7. New stations
    <br>-In Helsinki area, stations will expands to North and East</br>
    <br>-The borderline is e.g. Kulosaari - there still have been no bikes there (or eastbound) in 2018</br>

8. All citybikes are communist. -Timo Soini, 2016
   <br>"I'm lovin' it" - Helsinki hipsters<br>

## Used dataset

In [2]:
#%matplotlib inline

import numpy as np
import pandas as pd

Datasets used in this presentation are available for everyone through 
https://hri.fi/data/dataset/helsingin-ja-espoon-kaupunkipyorilla-ajatut-matkat
<br>Or they can be downloaded from links below</br>

2019:
http://dev.hsl.fi/citybikes/od-trips-2019/od-trips-2019.zip

2018:
http://dev.hsl.fi/citybikes/od-trips-2018/od-trips-2018.zip

These datasets don't include Vantaa region

Original datastructure is following

In [3]:
july19=pd.read_csv("2019-07.csv")

In [7]:
july19.head()

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-07-31T23:59:56,2019-08-01T10:31:34,32,Eläinmuseo,211.0,Haagan tori,5211.0,37893
1,2019-07-31T23:59:55,2019-08-01T00:05:15,32,Eläinmuseo,36.0,Apollonkatu,939.0,315
2,2019-07-31T23:59:48,2019-08-01T00:04:53,101,Munkkivuoren ostoskeskus,100.0,Teljäntie,994.0,301
3,2019-07-31T23:59:42,2019-08-01T00:06:55,109,Hertanmäenkatu,142.0,Koskelantie,1827.0,428
4,2019-07-31T23:59:40,2019-08-01T00:07:26,118,Fleminginkatu,111.0,Esterinportti,1833.0,461

In [5]:
july19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666362 entries, 0 to 666361
Data columns (total 8 columns):
Departure                 666362 non-null object
Return                    666362 non-null object
Departure station id      666362 non-null int64
Departure station name    666362 non-null object
Return station id         666357 non-null float64
Return station name       666357 non-null object
Covered distance (m)      666362 non-null float64
Duration (sec.)           666362 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 40.7+ MB

In [6]:
july19.describe()

,Departure station id,Return station id,Covered distance (m),Duration (sec.)
count,666362.000000,666357.000000,6.663620e+05,6.663620e+05
mean,164.442446,164.365742,2.171561e+03,9.470689e+02
std,197.010425,197.290488,2.248124e+03,1.075454e+04
min,1.000000,1.000000,0.000000e+00,0.000000e+00
25%,36.000000,36.000000,1.008000e+03,3.410000e+02
50%,86.000000,86.000000,1.752000e+03,5.860000e+02
75%,202.000000,202.000000,2.901000e+03,9.810000e+02
max,997.000000,997.000000,1.004058e+06,5.401659e+06

<br>Problems with datasets:<br>
<br>-too large size (millions of rows on a yearly scope). So, Jupyter Notebook is a weak tool for such volumes<br>
<br>-lack of categorical data in HSL datasets - e.g. subscription type, internal/external customer, early bird or not<br>
<br>-some data disrepancies - several 'infinity' values, probably occuring when the bike was stolen<br>

# Presentation's content

## 1. General analysis:
 <br>-Plotting of volumes for 2019 <br>
 <br>-Popular stations/routes <br>
 <br>-Analysis of shorter/longer trips <br>
## 2. Comparison of 2018 and 2019 by areas + weekend chart
## 3. Monthly analysis: stations, bikes and quick dataframes